# <center> <img src="../../img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> Computer Systems Engineering  </center>
---
### <center> Big Data Processing </center>
---
#### <center> **Autumn 2025** </center>
---

**Lab 04**: Data Unions & Joins Pipeline

**Date**: September 23rd 2025

**Student Name**: Ivan Estrella 

**Professor**: Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Examples on SparkSQL") \
    .master("spark://e3b502141eaf:7077") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/26 00:18:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Build schema
# Import your module
from IvanE.SparkUtilsIvan import SparkUtils


schema_agencies = SparkUtils.generate_schema([("agency_id", "int"), ("agency_info", "string")])

df_agencies = spark.read.schema(schema_agencies).option("header", True).csv("/opt/spark/work-dir/data/car_service/agencies")
df_agencies.show(truncate=False)

[Stage 0:>                                                          (0 + 1) / 1]

+---------+-----------------------------------------------------+
|agency_id|agency_info                                          |
+---------+-----------------------------------------------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|
+---------+-----------------------------------------------------+

In [4]:
# Generate rest of the schemas and just printing them to make sure they are oki doky
schema_brands = SparkUtils.generate_schema([("brand_id", "int"), ("brand_info", "string")])
schema_cars = SparkUtils.generate_schema([("car_id", "int"), ("car_info", "string")])
schema_customers = SparkUtils.generate_schema([("customer_id", "int"), ("customer_info", "string")])
schema_rentals = SparkUtils.generate_schema([("rental_id", "int"), ("rental_info", "string")])

# Generate dataframe
df_brands = spark.read.schema(schema_brands).option("header", True).csv("/opt/spark/work-dir/data/car_service/brands")
df_cars = spark.read.schema(schema_cars).option("header", True).csv("/opt/spark/work-dir/data/car_service/cars")
df_customers = spark.read.schema(schema_customers).option("header", True).csv("/opt/spark/work-dir/data/car_service/customers")
df_rentals = spark.read.schema(schema_rentals).option("header", True).csv("/opt/spark/work-dir/data/car_service/rentals")

# Print them all, even agencies just to make sure
df_agencies.show(truncate=False)
df_brands.show(truncate=False)
df_cars.show(truncate=False)
df_customers.show(truncate=False)
df_rentals.show(truncate=False)

+---------+-----------------------------------------------------+
|agency_id|agency_info                                          |
+---------+-----------------------------------------------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|
+---------+-----------------------------------------------------+

+--------+-----------------------------------------------------+
|brand_id|brand_info                                           |
+--------+-----------------------------------------------------+
|1       |{'brand_name': 'Mercedes-Benz', 'country': 'Germany'}|
|2       |{'brand_name': 'BMW', 'country': 'Germany'}          |
|3       |{'brand_name': 'Audi', 'country': 'Germany'}         |
|4       |{'brand_name': 'Ford', 'country': 'US'}              |
|5       |{'brand_name': 'BYD', 'country': 'China'}            |
|6       |{'brand_name': 'Honda', 'country': 'Japan'}          |
|7       |{'brand_name': 'Toyota', 'country': 'Japan'}         |
+--------+-----------------------------------------------------+

+------+----------------------------------------------------------------------------------------+
|car_id|car_info                                                                                |
+------+----------------------------------------------------------------------------------------+
|1     |{'car_name': 'Chang-Fisher Model 7', 'brand_id': 5, 'price_per_day': 139}               |
|2     |{'car_name': 'Sheppard-Tucker Model 4', 'brand_id': 6, 'price_per_day': 70}             |
|3     |{'car_name': 'Faulkner-Howard Model 5', 'brand_id': 3, 'price_per_day': 53}             |
|4     |{'car_name': 'Wagner LLC Model 1', 'brand_id': 5, 'price_per_day': 89}                  |
|5     |{'car_name': 'Campos PLC Model 4', 'brand_id': 4, 'price_per_day': 112}                 |
|6     |{'car_name': 'Archer-Patel Model 2', 'brand_id': 3, 'price_per_day': 55}                |
|7     |{'car_name': 'Patrick, Barrera and Collins Model 6', 'brand_id': 6, 'price_per_day': 66}|
|8     |{'car_name': 'Jones, Jefferson and Rivera Model 7', 'brand_id': 2, 'price_per_day': 115}|
|9     |{'car_name': 'Garcia, Hamilton and Carr Model 5', 'brand_id': 6, 'price_per_day': 137}  |
|10    |{'car_name': 'Levy Group Model 9', 'brand_id': 3, 'price_per_day': 93}                  |
|11    |{'car_name': 'Grimes-Green Model 8', 'brand_id': 3, 'price_per_day': 150}               |
|12    |{'car_name': 'Moon, Davis and Larsen Model 1', 'brand_id': 6, 'price_per_day': 100}     |
|13    |{'car_name': 'Summers, Barnett and Smith Model 6', 'brand_id': 4, 'price_per_day': 139} |
|14    |{'car_name': 'Clayton-Cook Model 10', 'brand_id': 6, 'price_per_day': 116}              |
|15    |{'car_name': 'Nguyen, Harrell and Lee Model 6', 'brand_id': 2, 'price_per_day': 94}     |
|16    |{'car_name': 'Walker, Pratt and Thomas Model 9', 'brand_id': 6, 'price_per_day': 192}   |
|17    |{'car_name': 'West, Miller and Flores Model 5', 'brand_id': 1, 'price_per_day': 63}     |
|18    |{'car_name': 'Bolton, Burns and Turner Model 10', 'brand_id': 6, 'price_per_day': 110}  |
|19    |{'car_name': 'Mann-Kelley Model 3', 'brand_id': 2, 'price_per_day': 146}                |
|20    |{'car_name': 'Harris, Lloyd and Payne Model 4', 'brand_id': 6, 'price_per_day': 96}     |
+------+----------------------------------------------------------------------------------------+
only showing top 20 rows
+-----------+-------------------------------------------------------------------------+
|customer_id|customer_info                                                            |
+-----------+-------------------------------------------------------------------------+
|1          |{'customer_name': 'Tiffany Riley', 'city': 'Monterrey', 'age': 32}       |
|2          |{'customer_name': 'Matthew Davies', 'city': 'Monterrey', 'age': 36}      |
|3          |{'customer_name': 'Rebecca Miller', 'city': 'Mexico City', 'age': 30}    |
|4          |{'customer_name': 'Katelyn Mccoy', 'city': 'New York', 'age': 34}        |
|5          |{'customer_name': 'Dana Dennis', 'city': 'Zapopan', 'age': 26}           |
|6          |{'customer_name': 'Daniel Norton', 'city': 'Mexico City', 'age': 34}     |
|7          |{'customer_name': 'Robert Garcia', 'city': 'Zapopan', 'age': 47}         |
|8          |{'customer_name': 'Michael Williams', 'city': 'Monterrey', 'age': 33}    |
|9          |{'customer_name': 'Susan Ferguson', 'city': 'San Francisco', 'age': 41}  |
|10         |{'customer_name': 'Alyssa Reid', 'city': 'Mexico City', 'age': 40}       |
|11         |{'customer_name': 'Laura Myers', 'city': 'Zapopan', 'age': 50}           |
|12         |{'customer_name': 'William Johnson', 'city': 'Monterrey', 'age': 25}     |
|13         |{'customer_name': 'Tyler Lopez', 'city': 'Mexico City', 'age': 21}       |
|14         |{'customer_name': 'Daniel Owen', 'city': 'Mexico City', 'age': 47}       |
|15         |{'customer_name': 'Allison Coleman', 'city': 'Zapopan', 'age': 33}       |
|16         |{'customer_name': 'David Walker', 'city': 'Londres', 'age': 33}          |
|17         |{'customer_name': 'Hayley White', 'city': 'Monterrey', 'age': 29}        |
|18         |{'customer_name': 'Amanda Garcia', 'city': 'Zapopan', 'age': 20}         |
|19         |{'customer_name': 'Christina Howard PhD', 'city': 'Monterrey', 'age': 22}|
|20         |{'customer_name': 'Tamara Jackson', 'city': 'San Francisco', 'age': 29}  |
+-----------+-------------------------------------------------------------------------+
only showing top 20 rows
+---------+--------------------------------------------------+
|rental_id|rental_info                                       |
+---------+--------------------------------------------------+
|11891    |{'car_id': 21, 'customer_id': 71, 'agency_id': 1} |
|11892    |{'car_id': 11, 'customer_id': 52, 'agency_id': 2} |
|11893    |{'car_id': 22, 'customer_id': 116, 'agency_id': 4}|
|11894    |{'car_id': 5, 'customer_id': 107, 'agency_id': 1} |
|11895    |{'car_id': 4, 'customer_id': 53, 'agency_id': 4}  |
|11896    |{'car_id': 8, 'customer_id': 131, 'agency_id': 2} |
|11897    |{'car_id': 23, 'customer_id': 66, 'agency_id': 3} |
|11898    |{'car_id': 24, 'customer_id': 60, 'agency_id': 4} |
|11899    |{'car_id': 27, 'customer_id': 92, 'agency_id': 2} |
|11900    |{'car_id': 3, 'customer_id': 40, 'agency_id': 4}  |
|11901    |{'car_id': 3, 'customer_id': 35, 'agency_id': 1}  |
|11902    |{'car_id': 3, 'customer_id': 72, 'agency_id': 1}  |
|11903    |{'car_id': 29, 'customer_id': 58, 'agency_id': 3} |
|11904    |{'car_id': 3, 'customer_id': 131, 'agency_id': 4} |
|11905    |{'car_id': 27, 'customer_id': 10, 'agency_id': 2} |
|11906    |{'car_id': 12, 'customer_id': 40, 'agency_id': 1} |
|11907    |{'car_id': 25, 'customer_id': 53, 'agency_id': 3} |
|11908    |{'car_id': 14, 'customer_id': 153, 'agency_id': 4}|
|11909    |{'car_id': 24, 'customer_id': 96, 'agency_id': 4} |
|11910    |{'car_id': 24, 'customer_id': 151, 'agency_id': 4}|
+---------+--------------------------------------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import get_json_object
# Separate JSON
# Agencies
df_better_agencies = df_agencies.withColumn("agency_name",get_json_object("agency_info","$.agency_name")) \
                                .withColumn("city",get_json_object("agency_info","$.city")) \
                                .drop("agency_info")
df_better_agencies.show()

# Brands
df_better_brands = df_brands.withColumn("brand_name",get_json_object("brand_info","$.brand_name")) \
                                .withColumn("country",get_json_object("brand_info","$.country")) \
                                .drop("brand_info")
df_better_brands.show()

# Cars
df_better_cars = df_cars.withColumn("car_name",get_json_object("car_info","$.car_name")) \
                                .withColumn("brand_id",get_json_object("car_info","$.brand_id")) \
                                .withColumn("price_per_day",get_json_object("car_info","$.price_per_day")) \
                                .drop("car_info")
df_better_cars.show()

# Customers
df_better_customers = df_customers.withColumn("customer_name",get_json_object("customer_info","$.customer_name")) \
                                .withColumn("city",get_json_object("customer_info","$.city")) \
                                .withColumn("age",get_json_object("customer_info","$.age")) \
                                .drop("customer_info")
df_better_customers.show()

# Rentals
df_better_rentals = df_rentals.withColumn("car_id",get_json_object("rental_info","$.car_id")) \
                                .withColumn("customer_id",get_json_object("rental_info","$.customer_id")) \
                                .withColumn("agency_id",get_json_object("rental_info","$.agency_id")) \
                                .drop("rental_info")
df_better_rentals.show()

+---------+-------------+-------------+
|agency_id|  agency_name|         city|
+---------+-------------+-------------+
|        1|  NYC Rentals|     New York|
|        2|LA Car Rental|      Londres|
|        3| Zapopan Auto|      Zapopan|
|        4|      SF Cars|San Francisco|
|        5|  Mexico Cars|  Mexico City|
+---------+-------------+-------------+

+--------+-------------+-------+
|brand_id|   brand_name|country|
+--------+-------------+-------+
|       1|Mercedes-Benz|Germany|
|       2|          BMW|Germany|
|       3|         Audi|Germany|
|       4|         Ford|     US|
|       5|          BYD|  China|
|       6|        Honda|  Japan|
|       7|       Toyota|  Japan|
+--------+-------------+-------+

+------+--------------------+--------+-------------+
|car_id|            car_name|brand_id|price_per_day|
+------+--------------------+--------+-------------+
|     1|Chang-Fisher Model 7|       5|          139|
|     2|Sheppard-Tucker M...|       6|           70|
|     3|Faulkner-Howard M...|       3|           53|
|     4|  Wagner LLC Model 1|       5|           89|
|     5|  Campos PLC Model 4|       4|          112|
|     6|Archer-Patel Model 2|       3|           55|
|     7|Patrick, Barrera ...|       6|           66|
|     8|Jones, Jefferson ...|       2|          115|
|     9|Garcia, Hamilton ...|       6|          137|
|    10|  Levy Group Model 9|       3|           93|
|    11|Grimes-Green Model 8|       3|          150|
|    12|Moon, Davis and L...|       6|          100|
|    13|Summers, Barnett ...|       4|          139|
|    14|Clayton-Cook Mode...|       6|          116|
|    15|Nguyen, Harrell a...|       2|           94|
|    16|Walker, Pratt and...|       6|          192|
|    17|West, Miller and ...|       1|           63|
|    18|Bolton, Burns and...|       6|          110|
|    19| Mann-Kelley Model 3|       2|          146|
|    20|Harris, Lloyd and...|       6|           96|
+------+--------------------+--------+-------------+
only showing top 20 rows
+-----------+--------------------+-------------+---+
|customer_id|       customer_name|         city|age|
+-----------+--------------------+-------------+---+
|          1|       Tiffany Riley|    Monterrey| 32|
|          2|      Matthew Davies|    Monterrey| 36|
|          3|      Rebecca Miller|  Mexico City| 30|
|          4|       Katelyn Mccoy|     New York| 34|
|          5|         Dana Dennis|      Zapopan| 26|
|          6|       Daniel Norton|  Mexico City| 34|
|          7|       Robert Garcia|      Zapopan| 47|
|          8|    Michael Williams|    Monterrey| 33|
|          9|      Susan Ferguson|San Francisco| 41|
|         10|         Alyssa Reid|  Mexico City| 40|
|         11|         Laura Myers|      Zapopan| 50|
|         12|     William Johnson|    Monterrey| 25|
|         13|         Tyler Lopez|  Mexico City| 21|
|         14|         Daniel Owen|  Mexico City| 47|
|         15|     Allison Coleman|      Zapopan| 33|
|         16|        David Walker|      Londres| 33|
|         17|        Hayley White|    Monterrey| 29|
|         18|       Amanda Garcia|      Zapopan| 20|
|         19|Christina Howard PhD|    Monterrey| 22|
|         20|      Tamara Jackson|San Francisco| 29|
+-----------+--------------------+-------------+---+
only showing top 20 rows
+---------+------+-----------+---------+
|rental_id|car_id|customer_id|agency_id|
+---------+------+-----------+---------+
|    11891|    21|         71|        1|
|    11892|    11|         52|        2|
|    11893|    22|        116|        4|
|    11894|     5|        107|        1|
|    11895|     4|         53|        4|
|    11896|     8|        131|        2|
|    11897|    23|         66|        3|
|    11898|    24|         60|        4|
|    11899|    27|         92|        2|
|    11900|     3|         40|        4|
|    11901|     3|         35|        1|
|    11902|     3|         72|        1|
|    11903|    29|         58|        3|
|    11904|     3|        131|        4|
|    11905|    27|         10|        2|
|    11906|    12|         40|        1|
|    11907|    25|         53|        3|
|    11908|    14|        153|        4|
|    11909|    24|         96|        4|
|    11910|    24|        151|        4|
+---------+------+-----------+---------+
only showing top 20 rows

In [21]:
# Join wiht other df and deleting duplicate columns
df_join_everything = df_better_cars.join(df_better_brands, df_better_cars.brand_id == df_better_brands.brand_id).drop(df_better_cars.brand_id)
df_join_everything = df_join_everything.join(df_better_rentals, df_join_everything.car_id == df_better_rentals.car_id).drop(df_join_everything.car_id)
df_join_everything = df_join_everything.join(df_better_agencies, df_join_everything.agency_id == df_better_agencies.agency_id).drop(df_better_agencies.agency_id)
df_join_everything = df_join_everything.join(df_better_customers, df_join_everything.customer_id == df_better_customers.customer_id).drop(df_join_everything.customer_id)

df_join_everything.show()

+--------------------+-------------+--------+----------+-------+---------+------+---------+-------------+-------------+-----------+-----------------+-------------+---+
|            car_name|price_per_day|brand_id|brand_name|country|rental_id|car_id|agency_id|  agency_name|         city|customer_id|    customer_name|         city|age|
+--------------------+-------------+--------+----------+-------+---------+------+---------+-------------+-------------+-----------+-----------------+-------------+---+
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      785|     1|        4|      SF Cars|San Francisco|         33|       Corey Cook|    Monterrey| 35|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      766|     1|        2|LA Car Rental|      Londres|         96|    Laura Gregory|      Londres| 25|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      762|     1|        3| Zapopan Auto|      Zapopan|        149|      Blake Jones|  Mexico City| 25|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      757|     1|        1|  NYC Rentals|     New York|         69|   Nicholas Kline|San Francisco| 42|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      747|     1|        2|LA Car Rental|      Londres|        157|    Melissa Flynn|      Zapopan| 50|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      735|     1|        1|  NYC Rentals|     New York|         64|     Joseph Jones|  Mexico City| 37|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      672|     1|        4|      SF Cars|San Francisco|        157|    Melissa Flynn|      Zapopan| 50|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      669|     1|        4|      SF Cars|San Francisco|          9|   Susan Ferguson|San Francisco| 41|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      662|     1|        2|LA Car Rental|      Londres|        130|  Raymond Navarro|  Mexico City| 40|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      654|     1|        2|LA Car Rental|      Londres|         84|   Sherry Simpson|  Mexico City| 43|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      617|     1|        2|LA Car Rental|      Londres|         75| Jenny Richardson|    Monterrey| 36|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      615|     1|        2|LA Car Rental|      Londres|        127|  Jennifer Torres|     New York| 44|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      591|     1|        4|      SF Cars|San Francisco|         35|      Laura Perry|     New York| 42|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      582|     1|        4|      SF Cars|San Francisco|        121|     Jill Sherman|  Mexico City| 23|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      390|     1|        1|  NYC Rentals|     New York|         18|    Amanda Garcia|      Zapopan| 20|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      381|     1|        2|LA Car Rental|      Londres|         79|  Barbara Sanders|  Mexico City| 24|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      376|     1|        3| Zapopan Auto|      Zapopan|        111|Christian Johnson|    Monterrey| 32|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      367|     1|        3| Zapopan Auto|      Zapopan|         51|   Hannah Wiggins|     New York| 19|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      325|     1|        2|LA Car Rental|      Londres|         31|     Lisa Baldwin|San Francisco| 31|
|Chang-Fisher Model 7|          139|       5|       BYD|  China|      258|     1|        3| Zapopan Auto|      Zapopan|        140|     Brian Cooper|San Francisco| 39|
+--------------------+-------------+--------+----------+-------+---------+------+---------+-------------+-------------+-----------+-----------------+-------------+---+
only showing top 20 rows

In [23]:
# After joining everything I show only the columns asked
df_join_everything.select("rental_id","car_name","customer_name","agency_name").show()

# Count rows just to be sure
row_count = df_join_everything.count()
print(f"Total number of rows: {row_count}")

+---------+--------------------+-----------------+-------------+
|rental_id|            car_name|    customer_name|  agency_name|
+---------+--------------------+-----------------+-------------+
|      785|Chang-Fisher Model 7|       Corey Cook|      SF Cars|
|      766|Chang-Fisher Model 7|    Laura Gregory|LA Car Rental|
|      762|Chang-Fisher Model 7|      Blake Jones| Zapopan Auto|
|      757|Chang-Fisher Model 7|   Nicholas Kline|  NYC Rentals|
|      747|Chang-Fisher Model 7|    Melissa Flynn|LA Car Rental|
|      735|Chang-Fisher Model 7|     Joseph Jones|  NYC Rentals|
|      672|Chang-Fisher Model 7|    Melissa Flynn|      SF Cars|
|      669|Chang-Fisher Model 7|   Susan Ferguson|      SF Cars|
|      662|Chang-Fisher Model 7|  Raymond Navarro|LA Car Rental|
|      654|Chang-Fisher Model 7|   Sherry Simpson|LA Car Rental|
|      617|Chang-Fisher Model 7| Jenny Richardson|LA Car Rental|
|      615|Chang-Fisher Model 7|  Jennifer Torres|LA Car Rental|
|      591|Chang-Fisher Model 7|      Laura Perry|      SF Cars|
|      582|Chang-Fisher Model 7|     Jill Sherman|      SF Cars|
|      390|Chang-Fisher Model 7|    Amanda Garcia|  NYC Rentals|
|      381|Chang-Fisher Model 7|  Barbara Sanders|LA Car Rental|
|      376|Chang-Fisher Model 7|Christian Johnson| Zapopan Auto|
|      367|Chang-Fisher Model 7|   Hannah Wiggins| Zapopan Auto|
|      325|Chang-Fisher Model 7|     Lisa Baldwin|LA Car Rental|
|      258|Chang-Fisher Model 7|     Brian Cooper| Zapopan Auto|
+---------+--------------------+-----------------+-------------+
only showing top 20 rows

Total number of rows: 17834

In [ ]:
sc.stop()